{{>header}}
  <div class="body">
     <div class="body__header"> 
            <p class="body__title">Iniciar sesión</p>
      </div>
      <form action="/index" method="POST">
          <div class="body__form">
                <div class="body__input">
                    <label>Usuario</label>
                    <input type="text" class="form-control" name="user" required />
                </div>
            </div>
            <div class="body__form">
                <div class="body__input">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" required/>
                </div>
            </div>
             <div class="body__buttons">
                <button type="submit" class="button body__button--success">Iniciar Sesion</button>
                <a href="/newUser" class="button_link">Quiero registrarme</button>
            </div>
      </form>
       {{#if error}}
        <div class="body__alert alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
  </div>
{{>footer}}