/*overwrite boostrap style*/
.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: underline;
}

/*My own styles with bem*/

body {
    background-color:  #ffffff;
}
.menu {
    background-color: #386538;
}
.menu__navbar {
    font-size: 14px;   
}
.body {
    margin-top: 14px;
    min-height: 400px !important;
    height: auto;
    margin-bottom:  25px;
}
.body__p {
    font-size: 16px;
    font-style: italic;
}
.body__header {
    text-align: center;
}
.body__form--inline {
    margin: 5px;
    left: 25%;
    right: 25%;
    position: relative;
    width: 50%;
}

.body__form {
    margin: 5px;
    margin-top: 10px;
    width: 100%;
    position: relative;
    left: 25%;
}

.body__title {
    font-size: 17px;
    font-weight: bolder;
}
.body__subtitle {
    font-size: 12px;
}
.body__input{
    width: 49%;
    display: inline-block;
}
.body__input--100 {
    width: 100%;
    display: inline-block;
}
.body__buttons {
    margin-top: 15px;
    position: relative;
    right: 25%;
    text-align: right;
}
.body__button {
    width: 150px;
    color: #FFF;
    font-weight: bolder;
    border: 1px solid #D9D9D9;
    background: #E4E4E4;
}
.body__button--success {
    width: 150px;
    color: #FFF;
    font-weight: bolder;
	background: #569E3D;
	border-color: #4A993E;
}
.body__table {
    width: 100%;
}
.body__box {
    border-bottom: 1px black solid;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
.body__back {
    text-align: right;
    margin-top: 20px;
    margin-right: 25px; 
}
.body__bkey {
    font-size: 18px;
    font-weight: bolder;
}
.body__bvalue {
    font-size: 15px;
}

.body__link {
    color: #386538;
}

.body__link:hover {
    color: #386538;
    font-weight: bolder;
    text-decoration: underline;
}

.body__cardHeader {
    background-color: #272c33;
}
.footer {
    border-top: 1px black solid;   
}
.footer__copyright {
    font-size: 9px;
}

.body__align--rigth {
    position: relative;
    left: 82%;
}