{{>header}}
    <div class="body">
        <table class="table body__table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {{#courses}}
                    <tr>
                        <td>
                            <a class="body__link"  href="/course/details?id={{id}}">{{name}}</a> 
                        </td>
                        <td>
                            {{description}}
                        </td>
                        <td>
                            ${{price}}
                        </td>
                    </tr>
                {{/courses}}
            </tbody>
        </table>
    </div>
{{>footer}}